In [1]:
import pandas as pd

In [2]:
dict_acc = {'Capital':	
190000,
'Cash at Bank':	
2600,
'Drawing':	
7000,
'Salaries':
8000,
'Plant and Machinery':
120000,
'Repairs':
1900,
'Delivery Vehicle':	
26000,
'Stock on 1st April, 2017':	
16000,
'Sundry Debtors':	
36000,
'Rent':
4500,
'Sundry Creditors':	
26000,
'Manufacturing Expenses':	
1500,
'Purchases':	
20000,
'Bills Payable':	
23500,
'Sales':	
42000,
'Bad Debts':	
5000,
'Wages':	
8000,
'Carriage':	
1600}

In [3]:
led = pd.Series(dict_acc)

In [4]:

alist = []
blist = []
n = 'y'

while n != 'n':
    n = input('enter y or n')
    if n == 'y':
        dic = input('enter the debit side parameters: ')
        key = input('enter the amount: ')
        alist.append(dic)
        blist.append(key)
    elif n == 'n':
        trading_debit = pd.DataFrame({'parameter':alist,'value':blist})
        
        tot = {'total sum': trading_debit['value'].sum()}
        break
    else:
        print('enter valid input y or n')

enter y or ny
enter the debit side parameters: Opening stock
enter the amount: 16000
enter y or ny
enter the debit side parameters: Purchases
enter the amount: 20000
enter y or ny
enter the debit side parameters: Wages
enter the amount: 8000
enter y or ny
enter the debit side parameters: Manufacturing Expenses
enter the amount: 1500
enter y or ny
enter the debit side parameters: Carriage
enter the amount: 1600
enter y or nn

In [7]:
trading_debit

                parameter  value
0           Opening stock  16000
1               Purchases  20000
2                   Wages   8000
3  Manufacturing Expenses   1500
4                Carriage   1600

In [25]:

clist = []
dlist = []
n = 'y'

while n != 'n':
    n = input('enter y or n')
    if n == 'y':
        dic = input('enter the credit side parameters: ')
        key = input('enter the amount: ')
        clist.append(dic)
        dlist.append(key)
    elif n == 'n':
        trading_df = pd.DataFrame({'parameter':clist,'value':dlist})

        total_cr = {'total sum': trading_df['value'].sum()}
        break
    else:
        print('enter valid input y or n')

enter y or ny
enter the credit side parameters: Sales
enter the amount: 42000
enter y or ny
enter the credit side parameters: Closing Stock
enter the amount: 16000
enter y or nn

In [19]:
trading_credit()

enter y or ny
enter the debit side parameters: Sales
enter the amount: 42000
enter y or ny
enter the debit side parameters: Closing Stock
enter the amount: 16000
enter y or nn

In [26]:
trading_df

       parameter  value
0          Sales  42000
1  Closing Stock  16000

In [ ]:
if tot > total_cr:
    trading_df.loc[len(trading_df.index)] = ['gross loss',(tot-total_cr)]

In [28]:
sum_cr = trading_df['value'].sum()

In [32]:
trading_df['value'] = trading_df['value'].astype(int)

In [31]:
trading_df['value']

0    42000
1    16000
Name: value, dtype: object

In [33]:
trading_debit['value'] = trading_debit['value'].astype(int)

In [34]:
sum_cr = trading_df['value'].sum()

In [36]:
sum_dr = trading_debit['value'].sum()

In [37]:
sum_dr

47100

In [39]:
if sum_dr > sum_cr:
    trading_df.loc[len(trading_df.index)] = ['gross loss',(sum_dr-sum_cr)]
elif sum_cr>sum_dr:
    trading_debit.loc[len(trading_debit.index)] = ['gross profit',(sum_cr-sum_dr)]

In [40]:
trading_debit

                parameter  value
0           Opening stock  16000
1               Purchases  20000
2                   Wages   8000
3  Manufacturing Expenses   1500
4                Carriage   1600
5            gross profit  10900

In [41]:
result = pd.concat([trading_debit, trading_df], axis=1).reindex(trading_debit.index)

In [42]:
result

                parameter  value      parameter    value
0           Opening stock  16000          Sales  42000.0
1               Purchases  20000  Closing Stock  16000.0
2                   Wages   8000            NaN      NaN
3  Manufacturing Expenses   1500            NaN      NaN
4                Carriage   1600            NaN      NaN
5            gross profit  10900            NaN      NaN

In [43]:
result.fillna(" ")

                parameter  value      parameter  value
0           Opening stock  16000          Sales  42000
1               Purchases  20000  Closing Stock  16000
2                   Wages   8000
3  Manufacturing Expenses   1500
4                Carriage   1600
5            gross profit  10900

In [46]:
#profit and loss account
elist = []
flist = []
n = 'y'

while n != 'n':
    n = input('enter y or n')
    if n == 'y':
        dic = input('enter the credit side parameters: ')
        key = input('enter the amount: ')
        elist.append(dic)
        flist.append(key)
    elif n == 'n':
        pl_dr = pd.DataFrame({'parameter':elist,'Amount':flist})
        pl_dr['Amount'] =  pl_dr['Amount'].astype(int)
        pl_dr_sum =  pl_dr['Amount'].sum()
        break
    else:
        print('enter valid input y or n')

enter y or ny
enter the credit side parameters: Salaries
enter the amount: 8000
enter y or ny
enter the credit side parameters: Repairs
enter the amount: 1900
enter y or ny
enter the credit side parameters: Rent
enter the amount: 5000
enter y or ny
enter the credit side parameters: Bad Debts
enter the amount: 5000
enter y or ny
enter the credit side parameters: Depreciation on machinery
enter the amount: 12000
enter y or ny
enter the credit side parameters: Depreciation on vehicle
enter the amount: 3900
enter y or nn

In [47]:
glist = []
hlist = []
n = 'y'

while n != 'n':
    n = input('enter y or n')
    if n == 'y':
        dic = input('enter the credit side parameters: ')
        key = input('enter the amount: ')
        glist.append(dic)
        hlist.append(key)
    elif n == 'n':
        pl_cr = pd.DataFrame({'parameter':glist,'Amount':hlist})
        pl_cr['Amount'] =  pl_cr['Amount'].astype(int)
        pl_cr_sum =  pl_cr['Amount'].sum()
        break
    else:
        print('enter valid input y or n')

enter y or ny
enter the credit side parameters: Gross profit
enter the amount: 10900
enter y or nn

In [52]:
type(pl_cr_sum)

numpy.int64

In [49]:
pl_dr_sum

if sum_dr > sum_cr:
    trading_df.loc[len(trading_df.index)] = ['gross loss',(sum_dr-sum_cr)]
elif sum_cr>sum_dr:
    trading_debit.loc[len(trading_debit.index)] = ['gross profit',(sum_cr-sum_dr)]

35800

In [53]:
if pl_dr_sum> pl_cr_sum:
    pl_cr.loc[len(pl_cr.index)] = ['Net Loss',(pl_dr_sum - pl_cr_sum)]
elif pl_dr_sum < pl_cr_sum:
    pl_dr.loc[len(pl_dr.index)] = ['Net Profit',(pl_cr_sum - pl_dr_sum)]

In [57]:
profit_loss = pd.concat([pl_dr,pl_cr],axis=1).reindex(pl_dr.index)

In [58]:
profit_loss

                   parameter  Amount     parameter   Amount
0                   Salaries    8000  Gross profit  10900.0
1                    Repairs    1900      Net Loss  24900.0
2                       Rent    5000           NaN      NaN
3                  Bad Debts    5000           NaN      NaN
4  Depreciation on machinery   12000           NaN      NaN
5    Depreciation on vehicle    3900           NaN      NaN

In [59]:
profit_loss.fillna(' ')

                   parameter Amount     parameter Amount
0                   Salaries   8000  Gross profit  10900
1                    Repairs   1900      Net Loss  24900
2                       Rent   5000
3                  Bad Debts   5000
4  Depreciation on machinery  12000
5    Depreciation on vehicle   3900

In [ ]:
#Total balance sheet